<%= form_with(url: sessions_path) do |form| %>
  <div>
    <%= form.text_field :login, required: true, placeholder: t(".email_placeholder") %>
  </div>

  <div>
    <%= form.password_field :password, required: true, placeholder: t(".password_placeholder") %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
