<h2>
  <span><%= t('.title') %></span>
  <span><%= link_to t('.new'), new_delivery_path %></span>
</h2>

<%= turbo_frame_tag :deliveries, class: "row row-cols-1 row-cols-md-3 g-4" do %>
  <%= render partial: 'delivery', collection: @deliveries %>
<% end %>
